.masonry {
	columns: 1;
	column-gap: var(--a-spacing-4);
	column-fill: balance;
}

@media (min-width: 480px) {
	.masonry {
		columns: 2;
	}
}

@media (min-width: 1024px) {
	.masonry {
		columns: 3;
	}
}

.masonryItem {
	break-inside: avoid;
	display: inline-block;
	width: 100%;
	padding-bottom: 1rem;
}

.card {
	transition:
		transform 0.2s ease,
		box-shadow 0.2s ease;
}

.card:hover {
	transform: translateY(-4px);
	box-shadow:
		0px 2px 4px 0px #00000010,
		0px 1px 2px -1px #00000010;
}
