.masonry {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.masonryColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.card {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow:
    0px 2px 4px 0px #00000010,
    0px 1px 2px -1px #00000010;
}
